* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #0C122C;
  background-image: url(../assets/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 52.5%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Raleway', sans-serif;
}

main {
  max-width: 920px;

  display: flex;
  align-items:baseline;
  gap: 30px;

}

.left-card {
  width: 350px;
  height: 201px;

  background: #1E2D69;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 100px 10px 10px;
}

.right-card {
  width: 540px;
  height: 154px;

  background: #1E2D69;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
}

/*Left Card Content Style*/

.left-card {
  position: relative;
}

.logo {
  position: absolute;

  top: 40px;
  left: 41px;
}

.left-card-icons {
  position: absolute;

  display: flex;
  gap: 16px;

  top: 113px;
  left: 41px;
}

.left-card-icons img:hover {
  transform: scale(1.1);
}

.left-card-icons img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/*Right Card Content Style*/

.right-card {
  position: relative;
}

.right-card h2 {
  position: absolute;
  top: 40px;
  left: 39px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #DBD9FF;
}

.right-card span {
  font-weight: bold;
}

/*Slider Style*/

.slider-container {
  position: absolute;
  top: 72px;
  left: 40px;

  display: flex;
  flex-direction: column;

}

.slider-background {
  width: 459px;
  height: 20px;
  padding: 3px;

  background: rgb(12, 18, 44, 0.5);
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.slider-background input {
  width: 339px;
  height: 14px;
  padding: 0px 2px;

  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: linear-gradient(90deg, #FFA197 0%, #FF4A95 100%);
  border-radius: 8px;
}

.slider-background input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background:#FFFFFF;
  width: 10px;
  height: 10px;
  border-radius: 50px;

  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.slider-background input::-webkit-slider-thumb:hover {
  transform: scale(2);
}

/*Slider's Text Style*/

.slider-text {
  position: absolute;
  bottom: 40px;
  left: 39px;
  
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #DBD9FF;
}

.slider-text span {
  position: absolute;
  left: 413px;
}

/*Speech Bubble Style*/

.speech-bubble {
  width: 179px;
  height: 72px;
  
  position: absolute;
  top: -47px;
  right: 40px;

  background: #FFFFFF;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 10px 0px 10px;
}

.speech-bubble::after {
  content: '';
  border-style: solid;
  border-width: 0 22.6px 22.6px 0;
  border-color: transparent #FFFFFF transparent transparent;

  position: absolute;
  top: 71px;
  right: 0px;
}

.speech-bubble h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #0C122C;

  position: absolute;
  top: calc(50% - 40px/2);
  left: 24px;
}

.speech-bubble h1 span {
  width: fit-content;
  
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #0C122C;
  mix-blend-mode: normal;
  opacity: 0.5;

  margin-left: 9px;

  width: max-content;

  position: absolute;
  top: calc(50% - 14px/2 + 2px);
}

/*Mobile Style*/

@media (max-width: 945px) {
  body {
    background-color: #0C122C;
    background-image: url(../assets/bg-mobile.png);
    background-position: center;
    background-size: cover;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .left-card {
    width: 326px;
  }

  .right-card {
    width: 326px;
    height: 160px;
  }

  .right-card h2 {
    top: 32px;
    left: 48px;
  }
  .slider-container {
    top: 64px;
    left: 32px;
  }

  .slider-background {
    width: 262px;
  }

  .slider-background input {
    width: 193px;
  }

  .slider-text {
    bottom: 52px;
    left: 32px;
  }

  .slider-text span {
    left: 214px;
  }

  .speech-bubble {
    top:124px;
    right:73px;
    border-radius: 10px;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  }

  .speech-bubble::after {
    display: none;
  }
}